# Dicionários

In [ ]:
dicionario = {
    "nome": "Igor",
    "cidade": "Niterói",
    "UF": "RJ"
}

In [ ]:
print(dicionario)

{'nome': 'Igor', 'cidade': 'Niterói', 'UF': 'RJ'}

In [ ]:
import json

pretty_json = json.dumps(dicionario, indent=4, ensure_ascii=False)
print(pretty_json)

{
    "nome": "Igor",
    "cidade": "Niterói",
    "UF": "RJ"
}

Inserção

In [ ]:
dicionario['email'] = "igorgbs@gmail.com"

In [ ]:
print(dicionario)

{'nome': 'Igor', 'cidade': 'Niterói', 'UF': 'RJ', 'email': 'igorgbs@gmail.com'}

In [ ]:
del dicionario['email']

In [ ]:
print(dicionario)

{'nome': 'Igor', 'cidade': 'Niterói', 'UF': 'RJ'}

In [ ]:
dicionario['cidade'] = "Rio de Janeiro"

In [ ]:
print(dicionario)

{'nome': 'Igor', 'cidade': 'Rio de Janeiro', 'UF': 'RJ'}

In [ ]:
for key, value in dicionario.items():
  print(key, value)

nome Igor
cidade Rio de Janeiro
UF RJ

In [ ]:
cadastro = {
    "nome": ["Joao", "Maria"],
    "idade": [59, 62],
    "altura": [1.88, 1.66]
}

In [ ]:
cadastro = {
    "111.555.444-90":{
        "nome": "Joao",
        "idade": 59,
        "altura": 1.88,
        "cidade": "Niteroi",
        "RG": "77-440555-0"
    },
   "222.333.444-55":{
        "nome": "Maria",
        "idade": 62,
        "altura": 1.66
    }
}

In [ ]:
cadastro = {
    "7566890-DETRANSP":{
        "nome": "Joao",
        "idade": 59,
        "altura": 1.88,
        "cidade": "Niteroi",
        "RG": "77-440555-0"
    },
   "222.333.444-55":{
        "nome": "Maria",
        "idade": 62,
        "altura": 1.66
    }
}

In [ ]:
cadastro = {
    "DETRANSP":{
        "RG": "7566890"{

        },
        "idade": 59,
        "altura": 1.88,
        "cidade": "Niteroi",
        "RG": "77-440555-0"
    },
   "222.333.444-55":{
        "nome": "Maria",
        "idade": 62,
        "altura": 1.66
    }
}

JSON com APIs

In [ ]:
import json
import requests

link = "http://api.openweathermap.org/data/2.5/weather"
api_chave = "seu_token"

cidade = "São Paulo"

params ={
    "q": cidade,
    "appid": api_chave,
    "units": "metric",
    "lang": "pt_br"
}

resultado = requests.get(link, params=params)
dados = resultado.json()
pretty_json = json.dumps(dados, indent=4, ensure_ascii=False)
print(pretty_json)

{
    "coord": {
        "lon": -46.6361,
        "lat": -23.5475
    },
    "weather": [
        {
            "id": 803,
            "main": "Clouds",
            "description": "nublado",
            "icon": "04n"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 11.69,
        "feels_like": 11.13,
        "temp_min": 10.94,
        "temp_max": 12.47,
        "pressure": 1023,
        "humidity": 85
    },
    "visibility": 10000,
    "wind": {
        "speed": 4.63,
        "deg": 140
    },
    "clouds": {
        "all": 75
    },
    "dt": 1689379841,
    "sys": {
        "type": 2,
        "id": 2033898,
        "country": "BR",
        "sunrise": 1689328090,
        "sunset": 1689366969
    },
    "timezone": -10800,
    "id": 3448439,
    "name": "São Paulo",
    "cod": 200
}

In [ ]:
lista_cidades = ["Paris", "São Paulo", "Bangladesh", "Londres", "La Paz", "Tóquio", "Belo Horizonte", "Xangai"]

In [ ]:
lista = []
for cidade in lista_cidades:
  params ={
    "q": cidade,
    "appid": api_chave,
    "units": "metric",
    "lang": "pt_br"
  }
  resultado = requests.get(link, params=params)
  dados = resultado.json()
  pretty_json = json.dumps(dados, indent=4, ensure_ascii=False)
  #print(pretty_json)
  #print("\n-----\n")

  meu_dicionario = {
      "cidade": dados['name'],
      "pais": dados['sys']['country'],
      "lon": dados['coord']['lon'],
      "lat": dados['coord']['lat'],
      "temperatura": dados['main']['temp'],
      "sensacao": dados['main']['feels_like']
  }
  lista.append(meu_dicionario)

#print(lista)

for i in lista:
  print(i)

{'cidade': 'Paris', 'pais': 'FR', 'lon': 2.3488, 'lat': 48.8534, 'temperatura': 24.31, 'sensacao': 24.1}
{'cidade': 'São Paulo', 'pais': 'BR', 'lon': -46.6361, 'lat': -23.5475, 'temperatura': 11.61, 'sensacao': 11.05}
{'cidade': 'Bangladesh', 'pais': 'BD', 'lon': 90, 'lat': 24, 'temperatura': 27.03, 'sensacao': 31.26}
{'cidade': 'London', 'pais': 'GB', 'lon': -0.1257, 'lat': 51.5085, 'temperatura': 16.02, 'sensacao': 16}
{'cidade': 'La Paz', 'pais': 'BO', 'lon': -68.15, 'lat': -16.5, 'temperatura': 10.88, 'sensacao': 9.67}
{'cidade': 'Tokyo', 'pais': 'JP', 'lon': 139.6917, 'lat': 35.6895, 'temperatura': 28.46, 'sensacao': 32.23}
{'cidade': 'Belo Horizonte', 'pais': 'BR', 'lon': -43.9378, 'lat': -19.9208, 'temperatura': 15.52, 'sensacao': 14.04}
{'cidade': 'Shanghai', 'pais': 'CN', 'lon': 121.4581, 'lat': 31.2222, 'temperatura': 29.67, 'sensacao': 36.67}

In [ ]:
#Calcular a média das temperaturas
soma_temps = 0
for i in lista:
  soma_temps += i["temperatura"]
media = soma_temps/len(lista)
print(f'A média das temperaturas é: {media}')

#ou
temps = [x["temperatura"] for x in lista]
media = sum(temps)/len(temps)
print(media)

A média das temperaturas é: 20.4375
20.4375

In [ ]:
import math


def distancia(lat1,lon1,lat2,lon2):
  # d = 2 * R * arcsin(sqrt(sin²((lat2 - lat1) / 2) + cos(lat1) * cos(lat2) * sin²((lon2 - lon1) / 2)))
  lat1 = math.radians(lat1)
  lon1 = math.radians(lon1)
  lat2 = math.radians(lat2)
  lon2 = math.radians(lon2)
  R = 6378.137
  d = 2 * R * math.asin(math.sqrt(math.sin((lat2 - lat1) / 2)*math.sin((lat2 - lat1) / 2) + math.cos(lat1) * math.cos(lat2) * math.sin((lon2 - lon1) / 2)*math.sin((lon2 - lon1) / 2)))
  print(d)
  return round(d,2)

lat1  = lista[2]["lat"]
lon1  = lista[2]["lon"]
lat2  = lista[3]["lat"]
lon2  = lista[3]["lon"]

print(f'{distancia(lat1,lon1,lat2,lon2)} km')

7960.682614691514
7960.68 km